@import url('https://fonts.googleapis.com/css?family=Quicksand');

.result{
	width:100%;
}
.eachResult{
	width:20%;
	display:inline-block;
	margin:5px;
}
.wrapper{
	font-family: Quicksand, Helvetica, sans-serif;
}
.dataLoading {
  display: block;
  text-align: center;
  background-color: #eeeeee;
  border: 0;
  font-size: 5rem;
}